.build {
  padding: 1rem;
}

.build-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  cursor: pointer;
}

.build-cost {
  color: #efcb12;
}

.build-params {
  margin-top: 1rem;
}

.build-params-group-name {
  margin-bottom: 0.25rem;
}

.build-params-group + .build-params-group {
  margin-top: 0.75rem;
}

.build-abilities {
  margin-top: 1.5rem;
}

.build-abilities-item + .build-abilities-item {
  position: relative;
  margin-top: 1rem;
  padding-top: 1rem;
}

.build-abilities-item + .build-abilities-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: #cdc2a4;
}
