.app {
  padding-bottom: 40px;
}

.aside {
  display: none;
}

.main {
  overflow-x: hidden;
}

.app-toolbar {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 40px;
  z-index: 1000;
}

@media screen and (min-width: 769px) {
  .app {
    display: flex;
    height: 100vh;
    padding-top: 0;
  }

  .aside {
    display: block;
    position: sticky;
    flex: 1 0 100%;
    max-width: 14rem;
    overflow-y: auto;
  }

  .main {
    flex: 1 1 auto;
    overflow-y: scroll;
  }

  .build-panel {
    overflow-y: scroll;
    flex: 1 0 100%;
    max-width: 24rem;
  }
}
