.app {
  background-color: #282c34;
  color: white;
}

.aside {
  display: none;
}

.main {
  overflow-x: hidden;
}

.build-panel {
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .app {
    display: flex;
    height: 100vh;
  }

  .aside {
    display: block;
    position: sticky;
    flex: 1 0 100%;
    max-width: 14rem;
    padding: 1rem;
    overflow-y: auto;
  }

  .main {
    flex: 1 1 auto;
    overflow-y: scroll;
  }

  .build-panel {
    overflow-y: auto;
    flex: 1 0 100%;
    max-width: 24rem;
  }
}
