.app {
  background-color: #282c34;
  color: white;
}

.aside {
  display: none;
}

.build-panel {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .app {
    display: flex;
    height: 100vh;
  }

  .aside {
    display: block;
    position: sticky;
    flex: 1 0 100%;
    max-width: 14rem;
    padding: 1rem;
    overflow-y: auto;
  }

  .main {
    flex: 1 1 auto;
    padding: 1rem;
    overflow-y: auto;
  }

  .build-panel {
    overflow-y: auto;
    flex: 1 0 100%;
    max-width: 24rem;
  }
}

.aside-total {
  margin: 0 0 1.5rem;
}

.card-title {
  margin: 1rem 0;
  text-align: center;
}

.card-image-wrap {
  text-align: center;
  user-select: none;
}

.card-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  object-position: center top;
}

.card-cost {
  margin: 1rem 0;
  color: #efcb12;
  font-weight: 500;
  text-align: center;
}

.card-skills {
  text-align: left;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  cursor: pointer;
}

.inventory-cost {
  color: #efcb12;
}

.inventory-params {
  margin-top: 1rem;
}

.inventory-skills {
  margin-top: 1.5rem;
}

.param {
  display: flex;
  gap: 0.5rem;
}

.param-name {
  min-width: 2.5rem;
  color: #558b6d;
  text-align: right;
}

.skill {
  padding: 0.25rem 0;
}

.skill-name {
  color: #cdc2a4;
}

.skill-description {
  line-height: 1.6;
}
