.compare {
  overflow: scroll;
}

.compare-grid {
  display: flex;
  align-items: flex-start;
}

.compare-add {
  display: flex;
  align-items: center;
  min-width: 10rem;
  min-height: 4rem;
  padding: 1rem;
}
