.items {
  padding: 1rem;
}

.items-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.items-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.items-full {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.items-full-cell {
  width: calc(50% - 0.5rem);
}

@media screen and (min-width: 768px) {
  .items-full-cell {
    width: calc(20% - 0.8rem);
  }
}
