.items {
  padding: 1rem;
}

.items-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 0.875rem;
}

.items-full {
  display: flex;
  flex-wrap: wrap;
}

.items-full-cell {
  padding: 0.5rem;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .items-full-cell {
    padding: 0.5rem;
    width: 20%;
  }
}
