.filter-bar-title {
  margin: 0 0 1.5rem;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.filter {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}
