.filters {
  padding: 1rem;
}

.filters-title {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.filters-clear {
  font-size: 1rem;
}

.filters-group + .filters-group {
  margin-top: 1.5rem;
}

.filters-item + .filters-item {
  margin-top: 0.25rem;
}
